body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #222;
	color: #fff;
}
#gameCanvas {
	border: 2px solid #fff;
	background-color: #000;
}
#score {
	font-size: 24px;
	margin: 20px 0;
}
.nickname-container {
	margin-top: 15px;
	display: none;
}
.button-container {
	margin-top: 15px;
	display: none;
}

.tButton-container {
	margin-top: 15px;
	display: none;
}

.menu-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
button {
	background-color: #28a745;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	border-radius: 5px;
	margin: 5px;
}
button:hover {
	background-color: #218838;
}
input {
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #333;
	margin: 5px;
}
#gameContent {
	display: none; /* Hide game content initially */
}

.tournament-container, #tournamentBracket {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#tournamentBracket h3 {
    margin-top: 20px;
}

button {
    margin-top: 10px;
}